<nav id="sidebar" class="shadow-lg w-[280px] h-full font-[Epilogue] font-medium flex flex-col fixed top-0 left-0 z-50 transform md:translate-x-0 -translate-x-full md:static transition-transform duration-300 bg-white md:bg-transparent">
    {% if app.user %}
        <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[30px] w-full flex items-center {% if app.request.attributes.get('_route') == 'home_index' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
            <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'home_index' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('home_index') }}">Accueil</a>
        </div>
        {% if is_granted('ROLE_COLLABORATOR') %}
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') == 'request_new' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'request_new' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('request_new') }}">Nouvelle demande</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') in ['request_historic', 'request_details'] %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') in ['request_historic', 'request_details'] %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('request_historic') }}">Historique des demandes</a>
            </div>
        {% elseif is_granted('ROLE_MANAGER') %}
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') in ['request_pending', 'request_show'] %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] text-base block {% if app.request.attributes.get('_route') in ['request_pending', 'request_show'] %}text-[#004C6C] font-medium font-[Inter]{% else %}text-[#637381]{% endif %}" href="{{ path('request_pending') }}">Demandes en attente</a>
                <a class="block text-base h-[34px] w-[38px] flex items-center justify-center pt-1 bg-[#004C6C0E] ml-2 rounded {% if app.request.attributes.get('_route')  in ['request_pending', 'request_show'] %} text-[#004C6C] {% else %} text-[#637381] hover:text-[#004C6C]{% endif %}" href="{{ path('request_pending') }}">{{ RequestRepository.countPendingRequestsByManager(app.user.person) }}</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') in ['request_historic', 'request_details'] %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') in ['request_historic', 'request_details'] %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('request_historic') }}">Historique des demandes</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') in ['team_index', 'team_new'] %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') in ['team_index', 'team_new'] %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('team_index') }}">Mon équipe</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') == 'statistics' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'statistics' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('statistics')}}">Statistiques</a>
            </div>
    {% endif %}
    <hr class="w-[210px] border-[#DFE4EA] border-t-1 mx-auto mt-[15px]">
    <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[30px] w-full flex items-center {% if app.request.attributes.get('_route') == 'profile_index' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
        <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'profile_index' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('profile_index')}}">Mes informations</a>
    </div>
    <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') == 'preferences' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
        <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'preferences' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('preferences')}}">Mes préférences</a>
    </div>
    {% if is_granted('ROLE_MANAGER') %}
        <div class="h-[44px] mt-[10px] w-full flex items-center cursor-pointer {% if app.request.pathinfo starts with '/manager' or app.request.pathinfo starts with '/position' or app.request.pathinfo starts with '/request-type' or app.request.pathinfo starts with '/department' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}" onclick="toggleLinks('admin-links')">
            <p class="pl-[2rem] pr-4 text-base block w-[80%] text-[#637381]">Administration</p>
            <svg class="w-4 h-4 ml-2 text-[#004C6C]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </div>
        <div id="admin-links" class="admin-links {% if app.request.pathinfo starts with '/manager' or app.request.pathinfo starts with '/position' or app.request.pathinfo starts with '/request-type' or app.request.pathinfo starts with '/department' %}block{% else %}hidden{% endif %}">
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.pathinfo starts with '/request-type' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('request_types')}}">Types de demandes</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.pathinfo starts with '/department' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('departments')}}">Directions/Services</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.pathinfo starts with '/manager' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('managers')}}">Managers</a>
            </div>
            <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center">
                <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.pathinfo starts with '/position' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{path('positions')}}">Postes</a>
            </div>
        </div>
    {% endif %}
    <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[10px] w-full flex items-center {% if app.request.attributes.get('_route') == 'logout' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
        <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'logout' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('logout') }}">Déconnexion</a>
    </div>
    {% else %}
        <div class="hover:bg-[#004C6C0D] hover:border-r-4 hover:border-[#004C6C] h-[44px] mt-[30px] w-full flex items-center {% if app.request.attributes.get('_route') == 'login' %}bg-[#004C6C0D] border-r-4 border-[#004C6C]{% endif %}">
            <a class="hover:text-[#004C6C] pl-[2rem] pr-4 text-base block w-full {% if app.request.attributes.get('_route') == 'login' %}text-[#004C6C] {% else %}text-[#637381]{% endif %}" href="{{ path('login') }}">Connexion</a>
        </div>
    {% endif %}
    <!-- User Information -->
    <div class="mt-auto flex items-center">
        <p class="px-4 text-base block w-full">
            {% if app.user %}
                <span class="text-black">{{ app.user.person.firstname }} {{ app.user.person.lastname }}</span>
                <br>
                <span class="text-gray-500">
                    {% if is_granted('ROLE_MANAGER') %}
                        Manager
                    {% elseif is_granted('ROLE_COLLABORATOR') %}
                        Collaborateur
                    {% endif %}
                </span>
            {% endif %}
        </p>
    </div>
</nav>