{% extends 'base.html.twig' %}

{% block title %}Détails demande{% endblock %}

{% block body %}
    <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[28px]">Ma demande de congé</h1>
    <h2 class="text-[#004C6CC7] font-semibold text-[18px] font-[Epilogue] mt-6 mb-6">Demande du {{request.createdAt.format('d/m/Y')}}</h2>

    <p class="text-[18px] font-[Epilogue]">Type de demande : {{request.requestType.name}}</p>
    <p class="text-[18px] font-[Epilogue]">Période du {{request.startAt.format('d/m/Y')}} au {{request.endAt.format('d/m/Y')}}</p>
    <p class="text-[18px] font-[Epilogue]">Nombre de jours : {{request.getWorkingDays}} jours</p>

    {% if request.answer == 1 %}
        <p class="mt-6 font-[Epilogue] text-[16px]">Statut de la demande : <span class="w-[67px] h-[26px] rounded-[30px] bg-[#DAF8E6] pl-3 pr-3 ml-2 text-[#1A8245] font-[Inter] text-[16px] font-medium">Validé</span></h2>
    {% elseif request.answer == 2 %}
        <p class="mt-6 font-[Epilogue] text-[16px]">Statut de la demande : <span class="w-[67px] h-[26px] rounded-[30px] bg-[#DAF8E6] pl-3 pr-3 ml-2 text-[#1A8245] font-[Inter] text-[16px] font-medium">Refusé</span></h2>
    {% else %}
        <p class="mt-6 font-[Epilogue] text-[16px]">Statut de la demande : <span class="w-[67px] h-[26px] rounded-[30px] bg-[#DAF8E6] pl-3 pr-3 ml-2 text-[#1A8245] font-[Inter] text-[16px] font-medium">En cours<span></h2>
    {% endif %}

    <h2 class="mt-6 font-[Inter] text-[16px]">Commentaire du manager :</h2>
    <textarea class="border-[#DFE4EA] mt-2 w-[730px] h-[186px] border-2 rounded-[6px]" placeholder="Profite bien de tes vacances à Mayorque et surtout, n’oublie pas la carte postale !!!"></textarea>
    <div class="mt-6 flex bg-[#004C6C14] w-[343px] h-[40px] rounded-[6px]">
        <a href="{{ path('historic') }}" class=" m-auto text-center text-[#475467] font-medium font-[Inter]">Retourner à la liste des demandes</a>
    </div>
    
{% endblock %}