{% extends 'base.html.twig' %}

{% block title %}Demandes en attente{% endblock %}

{% block body %}
  <h1 class="font-semibold text-[#1B3168] text-[28px] font-[Epilogue] mb-10">Demandes en attente</h1>
  <table class="min-w-full bg-white border border-gray-300">
  <!-- En-tête des colonnes -->
  <thead class="bg-[#F9FAFB] font-[Inter]">    
    <!-- Ligne des noms des colonnes -->
    <tr class="text-left text-[#344054]">
      <th class="px-4 py-4 font-medium text-[14px]">Type de demande</th>
      <th class="px-4 py-2 font-medium text-[14px]">Demandée le</th>
            <th class="px-4 py-2 font-medium text-[14px]">Collaborateur</th>
      <th class="px-4 py-2 font-medium text-[14px]">Date de début</th>
      <th class="px-4 py-2 font-medium text-[14px]">Date de fin</th>
      <th class="px-4 py-2 font-medium text-[14px]">Nb jours</th>
      <th class="px-4 py-2"></th>
    </tr>
      <!-- Ligne des champs de recherche -->
      <tr class="text-gray-700">
        <th class="px-4 py-1 w-1/6">
          <select class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" onchange="updateUrl('type', this.value)">
            <option value=""></option>
              {% for type in requestTypes %}
                <option value="{{ type.id }}" {% if app.request.query.get('type') == type.id %}selected{% endif %}>{{ type.name }}</option>
              {% endfor %}
          </select>
        </th>
        <th class="px-4 py-1">
          <input 
            type="date" 
            class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" 
            value="{{ app.request.query.get('requested') }}" 
            onchange="updateUrl('requested', this.value)">
        </th>
        <th class="px-4 py-1 w-1/6">
          <select class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" onchange="updateUrl('collaborator', this.value)">
            <option value=""></option>
              {% for collaborator in collaborators %}
                <option value="{{ collaborator.id }}" {% if app.request.query.get('collaborator') == collaborator.id %}selected{% endif %}>{{collaborator.firstname}} {{collaborator.lastname }}</option>
              {% endfor %}
          </select>
        </th>
        <th class="px-4 py-1">
          <input 
            type="date" 
            class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" 
            value="{{ app.request.query.get('start') }}" 
            onchange="updateUrl('start', this.value)">
        </th>
        <th class="px-4 py-1">
          <input 
            type="date" 
            class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" 
            value="{{ app.request.query.get('end') }}" 
            onchange="updateUrl('end', this.value)">
        </th>
        <th class="px-4 py-1 w-1/6">
          <input 
            type="text" 
            class="appearance-none text-sm font-medium mb-5 w-full h-10 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-200 px-2" 
            value="{{ app.request.query.get('days') }}" 
            onchange="updateUrl('days', this.value)">
        </th>
        <th class="px-4 py-1 ">
          {% if app.request.query.get('type') is not empty or app.request.query.get('requested') is not empty or app.request.query.get('start') is not empty or app.request.query.get('end') is not empty or app.request.query.get('days') is not empty or app.request.query.get('status') is not empty %}
            <div class="mb-5">
              <a href="{{ path('request_historic') }}" class="bg-white border border-gray-300 text-gray-500 font-medium py-3 px-4 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">X</a>
            </div>
          {% endif %}
        </th>
      </tr>
    </thead>
    <!-- Corps du tableau -->
    <tbody>
      {% for request in requests %}
        <tr class="border-b">
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.requestType.name }}</td>
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.createdAt|date('d/m/Y H\\\hi') }}</td>
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.collaborator.firstname }} {{ request.collaborator.lastname }}</td>
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.startAt|date('d/m/Y H\\\hi') }}</td>
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.endAt|date('d/m/Y H\\\hi') }}</td>       
          <td class="px-4 py-4 text-sm text-gray-700">{{ request.getWorkingDays() }} jour{% if request.getWorkingDays() >= 2 %}s{% endif %}</td>
          <td class="px-4 py-4">
            <a href="{{ path('request_show', { 'id': request.id }) }}" class="bg-gray-100 text-gray-700 font-medium py-3 px-6 rounded-md shadow-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">Détails</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination flex justify-center mt-8">
    {% set paginationData = requests.getPaginationData() %}
    {% if paginationData.pageCount > 1 %}
      <ul class="flex list-none">
        {% if paginationData.current > 1 %}
          <li class="mx-1">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': paginationData.current - 1})) }}" class="bg-gray-100 text-gray-700 font-medium py-2 px-4 rounded-md shadow-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">Précédent</a>
          </li>
        {% endif %}
        {% for page in 1..paginationData.pageCount %}
          <li class="mx-1">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}" class="px-3 py-1 {{ page == paginationData.current ? 'bg-blue-900 text-white' : 'bg-gray-100 text-gray-700 hover:bg-gray-200' }} rounded font-medium py-2 px-4">{{ page }}</a>
          </li>
        {% endfor %}
        {% if paginationData.current < paginationData.pageCount %}
          <li class="mx-1">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': paginationData.current + 1})) }}" class="bg-gray-100 text-gray-700 font-medium py-2 px-4 rounded-md shadow-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300">Suivant</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}