{% extends 'base.html.twig' %}

{% block title %}Détails demande{% endblock %}

{% block body %}
    {% if is_granted('ROLE_COLLABORATOR') %}
        <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[28px] text-center md:text-left">Ma demande de congé</h1>
    {% elseif is_granted('ROLE_MANAGER') %}
        <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[28px] text-center md:text-left">Demande de {{request.collaborator.firstname}} {{request.collaborator.lastname}}</h1>
    {% endif %}
    <h2 class="text-[#004C6CC7] font-semibold text-[18px] font-[Epilogue] mt-6 mb-6 text-center md:text-left">Demande du {{request.createdAt.format('d/m/Y')}}</h2>

    <div class="text-[18px] font-[Epilogue] space-y-4">
        <p>Type de demande : {{request.requestType.name}}</p>
        <p>Période : {{request.startAt.format('d/m/Y H\\\hi')}} au {{request.endAt.format('d/m/Y H\\\hi')}}</p>
        <p>Nombre de jours : {{request.getWorkingDays}} jour{% if request.getWorkingDays() >= 2 %}s{% endif %}</p>
    </div>

    {% if is_granted('ROLE_COLLABORATOR') %}
        <p class="mt-6 font-[Epilogue] text-[16px] text-center md:text-left">
            Statut de la demande : 
            <span class="w-auto h-[26px] rounded-[30px] bg-[#DAF8E6] px-3 py-1 ml-2 text-[#1A8245] font-[Inter] text-[16px] font-medium inline-block">
                {{request.answer.label()}}
            </span>
        </p>
        {% if request.receiptFile %}
            <div class="mt-6 flex justify-center md:justify-start bg-[#004C6C14] w-full md:w-[250px] h-[40px] rounded-[6px]">
                <a href="{{ asset('files/' ~ request.receiptfile) }}" download class="m-auto text-center text-[#475467] font-medium font-[Inter]">Télécharger le justificatif</a>
            </div>
        {% endif %}
        {% if request.answerComment %}
            <h2 class="mt-6 font-[Inter] text-[16px] text-center md:text-left">Commentaire du manager :</h2>
            <textarea class="border-[#DFE4EA] mt-2 w-full md:w-[730px] h-[186px] border-2 rounded-[6px] px-5 py-4" readonly placeholder="{{request.answerComment}}"></textarea>
        {% endif %}
        <div class="mt-6 flex justify-center md:justify-start bg-[#004C6C14] w-full md:w-[343px] h-[40px] rounded-[6px]">
            <a href="{{ path('request_historic') }}" class="m-auto text-center text-[#475467] font-medium font-[Inter]">Retourner à la liste des demandes</a>
        </div>
    {% elseif is_granted('ROLE_MANAGER') %}
        {% if request.comment %}
            <h2 class="mt-6 font-[Inter] text-[16px] text-center md:text-left">Commentaire supplémentaire :</h2>
            <textarea class="border-[#DFE4EA] mt-2 w-full md:w-[730px] h-[186px] border-2 rounded-[6px] px-5 py-4" readonly placeholder="{{request.comment}}"></textarea>
        {% endif %}
        {% if request.receiptFile %}
            <div class="mt-6 flex justify-center md:justify-start bg-[#004C6C14] w-full md:w-[250px] h-[40px] rounded-[6px]">
                <a href="{{ asset('files/' ~ request.receiptfile) }}" download class="m-auto text-center text-[#475467] font-medium font-[Inter]">Télécharger le justificatif</a>
            </div>
        {% endif %}
        {% if request.answer.label() == "En cours" %}
            <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[26px] mt-16 text-center md:text-left">Répondre à la demande</h1>
            {{ form_start(form) }}
                <div class="flex flex-col space-y-4">
                    {{ form_label(form.answerComment) }}
                    {{ form_widget(form.answerComment, {
                        'attr': {
                            'class': 'border-[#DFE4EA] mt-2 w-full md:w-[730px] h-[111px] border-2 rounded-[6px] px-5 py-4',
                            'placeholder': 'Saisissez votre commentaire ici...'
                        }
                    }) }}
                </div>
                <div class="flex mt-8 justify-center md:justify-start">
                    {{ form_widget(form.reject) }}
                    {{ form_widget(form.approve) }}
                </div>
            {{ form_end(form) }}
        {% else %}
            <h1 class="text-[#1B3168] font-[Epilogue] font-semibold text-[26px] mt-16 text-center md:text-left">Réponse à la demande</h1>
            {% if request.answerComment %}
                <p class="text-[16px] mt-5 font-[Epilogue] text-center md:text-left">Votre commentaire :</p>
                <textarea class="border-[#DFE4EA] mt-2 w-full md:w-[730px] h-[111px] border-2 rounded-[6px] px-5 py-4" readonly placeholder="{{request.answerComment}}"></textarea>
            {% endif %}
            <p class="mt-5 font-[Epilogue] text-[16px] text-center md:text-left">
                Vous avez {{request.answer.label()|lower}} cette demande le {{request.answerAt.format('d/m/Y')}} à {{request.answerAt.format('H\\\hi')}}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}