{% extends 'base.html.twig' %}

{% block title %}Mon équipe{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row items-center">
        <h1 class="text-[28px] font-semibold text-[#1B3168] font-[Epilogue] mb-4 md:mb-0">Mon équipe</h1>
        <button class="w-[228px] h-[41px] rounded-[6px] bg-[#004C6C] text-[white] md:ml-[25px]">
            <a href="{{ path('team_new') }}">Ajouter un collaborateur</a>
        </button>
    </div>

    <div class="max-w-[1000px]">
        <table class="w-[1153px] mt-[45px] bg-white border border-gray-300 rounded-lg overflow-hidden shadow-md">
            <!-- En-tête des colonnes -->
            <thead class="bg-[#F9FAFB] font-[Inter]">
                <tr class="text-left text-[#344054]">
                    <th class="px-4 pt-5 font-medium text-[14px]">{{ form_label(form.lastName) }}</th>
                    <th class="px-4 pt-5 font-medium text-[14px]">{{ form_label(form.firstName) }}</th>
                    <th class="px-4 pt-5 font-medium text-[14px]">{{ form_label(form.email) }}</th>
                    <th class="px-4 pt-5 font-medium text-[14px]">{{ form_label(form.position) }}</th>
                    <th class="px-4 pt-5 font-medium text-[14px]">{{ form_label(form.totalVacationDays) }}</th>
                    <th class="px-4 pt-5 font-medium text-[14px]"></th>
                </tr>
                <!-- Ligne de formulaire pour les champs de recherche -->
                {{ form_start(form, { 'attr': { 'class': 'w-full', 'id': 'search-form' } }) }}
                <tr>
                    <td class="px-4 py-2">
                        {{ form_widget(form.lastName) }}
                    </td>
                    <td class="px-4 py-2">
                        {{ form_widget(form.firstName) }}
                    </td>
                    <td class="px-4 py-2">
                        {{ form_widget(form.email) }}
                    </td>
                    <td class="px-4 py-2">
                        {{ form_widget(form.position) }}
                    </td>
                    <td class="px-4 py-2">
                        {{ form_widget(form.totalVacationDays) }}
                    </td>
                    <td colspan="5" class="text-center py-2">
                        <button type="submit" id="search-button" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 hidden">
                            Rechercher
                        </button>
                    </td>
                </tr>
                {{ form_end(form) }}
            </thead>
            <!-- Corps du tableau -->
            <tbody>
                {% for member in teamMembers %}
                    <tr class="border-b">
                        <td class="px-4 py-6 text-sm text-gray-700">{{ member.person.lastName }}</td>
                        <td class="px-4 py-6 text-sm text-gray-700">{{ member.person.firstName }}</td>
                        <td class="px-4 py-6 text-sm text-gray-700">{{ member.email }}</td>
                        <td class="px-4 py-6 text-sm text-gray-700">{{ member.person.position }}</td>
                        <td class="px-4 py-6 text-sm text-gray-700">{{ member.totalVacationDays }}</td>
                        <td class="px-4 py-6 text-sm text-gray-700">
                            <a href="{{ path('team_details', { id: member.id }) }}" 
                               class="bg-[#004C6C14] w-[109px] h-[40px] rounded-[6px] flex items-center justify-center text-[#475467] font-medium text-[Inter]">
                                Détail
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center py-4 text-gray-500">Aucun membre trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination mt-4">
        {{ knp_pagination_render(teamMembers) }}
    </div>
{% endblock %}