{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    <h1 class="text-[28px] font-semibold text-[#1B3168] font-[Epilogue]">Mes informations</h1>
    
    {{ form_start(form) }}
        {% if is_granted('ROLE_MANAGER') %}
            <div class="mt-4">
                {{ form_row(form.email) }}
            </div>
            <div class="flex space-x-4">
                <div>
                    {{ form_row(form.firstName) }}
                </div>
                <div>
                    {{ form_row(form.lastName) }}
                </div>
            </div>
            <div class="mt-4">
                {{ form_row(form.department) }}
            </div>
        {% else %}
            <div class="flex space-x-4">
                <div>
                    {{ form_row(form.firstName) }}
                </div>
                <div>
                    {{ form_row(form.lastName) }}
                </div>
            </div>
            <div class="mt-4">
                {{ form_row(form.email) }}
            </div>
            <div class="flex space-x-4">
                <div class="mt-4">
                    {{ form_row(form.department) }}
                </div>
                <div class="mt-4">
                    {{ form_row(form.position) }}
                </div>
            </div>
            <div class="mt-4">
                {{ form_row(form.manager) }}
            </div>
        {% endif %}

    <h2 class="text-[24px] font-semibold text-[#1B3168] font-[Epilogue] mt-8">Réinitialiser le mot de passe</h2>
        
    {{ form_start(resetPasswordForm) }}
        <div class="relative">
            {{ form_label(resetPasswordForm.currentPassword) }}
            <div class="relative mt-1">
                {{ form_widget(resetPasswordForm.currentPassword, { 'attr': { 'id': 'currentPassword' } }) }}
                <span class="absolute inset-y-0 ml-[26%] pr-3 flex items-center cursor-pointer" id="toggle-password-currentPassword" data-target="currentPassword">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
        </div>
        <div class="flex mt-4 space-x-4">
            <div>
                {{ form_label(resetPasswordForm.newPassword) }}
                <div class="relative">
                    {{ form_widget(resetPasswordForm.newPassword, { 'attr': { 'id': 'newPassword' } }) }}
                    <span class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" id="toggle-password-newPassword" data-target="newPassword">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>
            <div>
                {{ form_label(resetPasswordForm.confirmPassword) }}
                <div class="relative">
                    {{ form_widget(resetPasswordForm.confirmPassword, { 'attr': { 'id': 'confirmPassword' } }) }}
                    <span class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" id="toggle-password-confirmPassword" data-target="confirmPassword">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-[#1B3168] hover:bg-[#1B3168] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#1B3168]">
                Réinitialiser le mot de passe
            </button>
        </div>
    {{ form_end(resetPasswordForm) }}

{% endblock %}